@import "../../helpers/colors.scss";

// working over default component classes

// setting the width of the modal dialog
@media (min-width: 576px) {
	.game-modal.modal-dialog {
		max-width: 400px;
	}	
}
.game-modal {
	& .modal-content {
		font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
		background-color: $black;
	}
	& .modal-header {
		border-bottom: none;
		padding: 1rem 1rem 0 0;
		color: $grey;
		padding-bottom: 15px;
		font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
		& .modal-title {
			text-align: center;
			font-weight: 700;
			font-size: 19px;
			padding-top: 1rem;
			margin: auto;
		}
		& .close {
			position: absolute;
			right: 20px;
			text-align: right;
			color: $light-grey;
			margin: -1rem;
			font-size: 19px;
			font-weight: 300;
			text-shadow: none;
		}
	}
	& .modal-body {
		padding: 1rem 0;
	}
	& .choice {
		color: $grey;
		font-weight: 700;
		font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
		text-align: center;
		margin-bottom: 1rem;
		&__header {
			color: $grey;
			font-size: 17px;
			&__sub {
				font-size: 17px;
				font-weight: 300;
			}
		}
		&__options {
			font-family: inherit;
			font-size: 17px;
			font-weight: 300;
			padding: 0;
			color: $light-grey;
			justify-content: center;
			& .disabled {
				color: $grey;
			}
			& .nav-link:nth-child(even) {
				color: $dark-grey;
				cursor: text;
			}
			& .nav-link {
				padding: 0 3px;
				&:hover, &.active {
					color: $white;
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
	}
	& .modal-footer {
		padding: 1.1rem 0;
		text-align: center;
		justify-content: center;
		color: $white;
		font-size: 17px;
		background-color: $dark-grey;
		font-weight: 700;
		cursor: pointer;
		border-top: none;;
	}
}
.last-row-inline {
	justify-content: center;
}