html {
	overflow: hidden;
}


#canvas {
	background-color: #313131;
	border: 1px solid black;
	image-rendering: pixelated
}
.main {
	position: absolute;
	top: 0;
	left: 0;
	&__left {
		position: fixed;
		z-index: 10;
		text-align: left;
		vertical-align: top;
		display: inline-block;
	}
	&__right {
		position: absolute;
		z-index: 1;
		display: inline-block;
	}
}