@import "../../helpers/colors.scss";

$buttonNr: "_1", "_2", "_3", "_4";

.main .quarantine__btn {
	position: absolute;
	z-index: -1;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight: 700;
	opacity: 0;
	transition: opacity	.3s;
	background-color: $green !important;
	border-color: $green !important;
	&:hover, &:active {
		color: #fff;
		background-color: $green;
		border-color: $green !important;
	}
	&--left-top {
		top: 5rem;
		left: 10px;
	}
	&--left-bottom {
		bottom: 10px;
		left: 10px;
	}
	&--right-top {
		top: 5rem;
		right: 10px;
	}
	&--right-bottom {
		bottom: 10px;
		right: 10px;
	}
	&.active {
		background-color: $green !important;
		z-index: 1;
		opacity: 1;
		animation-duration: .4s;
		animation-iteration-count: 1;
		animation-name: blink_button;
	}
}

@keyframes blink_button {
	0% 	 {opacity: 1;}
	25%  {opacity: 0;}
	50%  {opacity: 1;}
	75%  {opacity: 0;}
	100% {opacity: 1;}
}
