@import "./helpers/colors.scss";


html {
	overflow: hidden;
}

canvas {
	image-rendering: optimizeQuality;             // Older versions of FF
	image-rendering: -moz-crisp-edges;          // FF 6.0+
	image-rendering: -webkit-optimize-contrast; // Safari
	image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
	image-rendering: auto;				//
	-ms-interpolation-mode: bicubic;   			// IE
}
#canvas-container {
	z-index: 0;
	background-color: black;
	width: 100vw;
	height: 100vh;
}
.simulator-fadein {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background-color: black;
	&.visible {
		opacity: 0;
		z-index: 1;
		animation-name: fade-in-out;
		animation-duration: 1.2s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1; //infinite
	}
}
@keyframes fade-in-out {
	0%   { opacity: 0;}
	50%  { opacity: 1;}
	100% { opacity: 0;}
}

.audio {
	display: none;
}

@import "./components/Navbar/navbar.scss";

