@import "./helpers/colors.scss";


html {
	overflow: hidden;
}
#canvas {
	background-color: black;
	image-rendering: pixelated
}
// NAVBAR
.main {
	position: absolute;
	min-height: 100vh;
	top: 0;
	right: 0;
	left: 0;
	&__navbar {
		position: absolute;
		font-family: "Roboto", Arial, sans-serif;
		z-index: 5;
		top: 0;
		right: 0;
		left: 0;
		padding: 0;
		&__left {
			position: relative;
			font-size: .9rem;
			font-weight: 900;
			line-height: 0;
		}
		&__right {
			position: relative;
			font-size: 1rem;
			line-height: 1rem;
		}
	}

	& .navbar__nav {
		color: $grey;
		font-weight: 900;
		text-align: left;
		&__link {
			padding: 10px;
			&:hover {
				color: $white;
				cursor: pointer;
			}
		}
		&__separator {
			padding: 10px;
		}
		&.caption {
			color: $white;
			font-size: 1.1rem;
			transform: translate(-50%, 50%);
		}
		&.right {
			font-size: .8rem;
			text-align: right;
		}
	}
}









//DEPRECATED
.main {
	&__left {
		position: fixed;
		z-index: 10;
		height: 100vh;
		width: 250px;
		background-color: rgba(192,192,192, .5);
		background-color: rgba(59, 59, 59, .5);
		text-align: left;
		vertical-align: top;
		display: inline-block;
		transition: left .8s ease;
		&--open {
			left: 0;
		}
		&--closed {
			left: -230px;
		}
		& .close-pane {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			padding: 5px;
			color: lightgray;
			background-color: rgba(192,192,192, .5);
			background-color: rgba(129, 129, 129, .5);
			&:focus, &:active {
				box-shadow: none;
				border: none;
				color: inherit;
			}
		}
		& .btn:not(.close-pane) {
			margin-top: 1rem;
			&:disabled {
				cursor: not-allowed;
			}
		}
		& .dropdown {
			padding: 0;
		}
	}
}