@import "../../helpers/colors.scss";
// NAVBAR
.main {
	position: absolute;
	min-height: 100vh;
	top: 0;
	right: 0;
	left: 0;
	text-shadow: 1px 1px 2px black;
	&__navbar {
		position: absolute;
		font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
		z-index: 5;
		top: 0;
		right: 0;
		left: 0;
		color: $white;
		padding: 0;
		transition: transform .5s;
		&.hidden {
			transform: translateY(-50%);
		}
		&__toggler {
			position: absolute;
			opacity: .5;
			left: 50%;
			right: 50%;
			margin: auto;
			z-index: 25;
			vertical-align: baseline;
			background-color: $black;
			border-bottom-left-radius: 200px;
			border-bottom-right-radius: 200px;
			transform: translate(-70%, -10%);
			transition: opacity .3s, background-color .3s;
			padding: 20px 12px 0 12px;
			& img {
				width: 20px;
				height: 10px;
			}
			&:active, &:focus, &:hover {
				background-color: $grey;
				box-shadow: none;
			}
			&.hidden {
				opacity: 0;
				cursor: auto;
			}
		}
		&__left {
			position: relative;
			font-size: 15px;
			font-weight: 900;
			line-height: 0;
			transform: translateY(-60%);
			& .nav-link.stick {
				padding-left: 2px;
				padding-right: 2px;
			}
		}
		&__right {
			position: relative;
			font-size: 15px;
			line-height: 1rem;
		}
	}
	& .game-start-countdown {
		display: none;
		position: absolute;
		font-size: 96px;
		font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
		margin-top: 25%;
		margin-left: 50%;
		pointer-events: none;
		transform: translate(-50%);
		&.visible {
			display: block;
		}
	}
	& .navbar__nav {
		color: $grey;
		font-weight: 900;
		text-align: left;
		&__link {
			padding: 10px;
			&:hover {
				color: $white !important;
				cursor: pointer;
			}
			&.caption {
				position: absolute;
				font-size: 15px;
    			right: 0;
				color: $white;
				transform: translateX(50%);
				& .ordinary {
					font-weight: 300;
				}
			}
		}
		&__separator {
			padding: 10px;
		}
		&.right {
			font-size: 15px;
			text-align: right;
			& .countdown-link {
				font-size: 13px;
				padding-right: 2px;
			}
			& .stats {
				font-size: 15px;
				line-height: 15px;
				transition: margin-top .5s;
				&.drop {
					margin-top: 2.5rem;
				}
				&__infected {
					padding-left: 1px;
					color: $red;
					float: left;
					padding-top: 0;
					width: 90px;
					text-align: left;
				}
				&__healthy {
					color: $white;
					float: left;
					text-align: left;
					padding-top: 0;
				}
				&__timer {
					float: right;
					padding-top: 0;
					font-weight: 300;
					font-size: 37px;
					line-height: 30px;
					color: $white;
				}
			}
		}
	}
}