@import "../../helpers/colors.scss";
// NAVBAR
.main {
	position: absolute;
	min-height: 100vh;
	top: 0;
	right: 0;
	left: 0;
	text-shadow: 1px 1px 2px black;
	&__navbar {
		position: absolute;
		font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
		z-index: 5;
		top: 0;
		right: 0;
		left: 0;
		color: $white;
		padding: 0;
		padding-top: 15px;
		transition: top .5s;
		&.hidden {
			top: -30px;
		}
		&__toggler {
			position: absolute;
			opacity: .5;
			left: 50%;
			right: 50%;
			margin: auto;
			z-index: 25;
			vertical-align: baseline;
			background-color: $black;
			border-bottom-left-radius: 200px;
			border-bottom-right-radius: 200px;
			transform: translate(-70%, -50%);
			transition: opacity .5s, background-color .5s;
			padding: 20px 12px 0px 12px;
			& img {
				width: 20px;
				height: 10px;
			}
			&:active, &:focus, &:hover {
				background-color: $grey;
				box-shadow: none;
			}
			&.hidden {
				opacity: 0;
				cursor: auto;
			}
		}
		&__left {
			position: relative;
			left: 0;
			font-size: 17px;
			line-height: 10px;
			& .caption {
				position: absolute;
				font-size: 19px;
    			right: 0;
				color: $white;
				transform: translate(50%, -50%);
				& .bold {
					font-weight: 700;
					display: inline-block;
					line-height: 1px;
					vertical-align: text-bottom;
				}
				& .ordinary {
					font-weight: 300;
					display: inline-block;
					vertical-align: text-bottom;
					line-height: 0px;
				}
			}
			& .nav-link.stick {
				padding-left: 2px;
				padding-right: 2px;
				padding-top: 10px;
			}
		}
		&__right {
			position: relative;
			right: 0;
			font-size: 17px;
			line-height: 10px;
		}
	}
	& .game-start-countdown {
		display: none;
		position: absolute;
		font-size: 96px;
		font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
		margin-top: 25%;
		margin-left: 50%;
		pointer-events: none;
		transform: translate(-50%);
		&.visible {
			display: block;
		}
	}
	& .navbar__nav {
		color: $grey;
		font-weight: 900;
		text-align: left;
		&__link {
			padding: 10px;
			&:hover {
				color: $white !important;
				cursor: pointer;
			}
		}
		&__separator {
			padding: 10px;
		}
		&.left {
			position: absolute;
			left: 5px;
			font-size: 17px;
			text-align: right;
		}
		&.right {
			position: absolute;
			right: 5px;
			font-size: 17px;
			text-align: right;
			& .countdown-link {
				font-size: 15px;
				padding-right: 2px;
			}
			& .stats {
				position: relative;
				top: 0;
				font-size: 17px;
				line-height: 15px;
				transition: top .5s;
				&.drop {
					top: 5px;
				}
				&__infected {
					position: absolute;
					top: 0;
					left: 0;
					padding-left: 1px;
					color: $red;
					padding-top: 0;
					text-align: left;
				}
				&__healthy {
					position: absolute;
					top: 0;
					left: 100px;
					color: $white;
					text-align: left;
					padding-top: 0;
				}
				&__timer {
					position: absolute;
					top: 0;
					right: 0;
					padding-top: 0;
					font-weight: 300;
					font-size: 46px;
					line-height: 34px;
					color: $white;
					padding-top: 0;
				}
				&__healed {
					position: absolute;
					padding-left: 1px;
					color: $green;
					left: 0;
					top: 19px;
					padding-top: 0;
					text-align: left;
				}
			}
		}
	}
}