@import "../../helpers/colors.scss";

@media (min-width: 576px) {
	.share-modal.modal-dialog {
		max-width: 400px;
	}
}

.share-modal {
	& .modal-content {
		font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
		background-color: $black;
		text-align: center;
		justify-content: center;
	}
	& .modal-header {
		padding-bottom: 0;
		border-bottom: none;
		& .modal-title {
			position: relative;
			left: 0;
			right: 0;
			margin: auto;
			color: $white;
			font-size: 17px;
			font-weight: 700;
			padding: 1rem;
		}
		& .close {
			position: absolute;
			right: 20px;
			text-align: right;
			color: $light-grey;
			margin: -1rem;
			font-size: 19px;
			font-weight: 300;
			text-shadow: none;
			&:hover {
				color: $white;
			}
		}
	}
	& .modal-body {
		padding-top: 0;
		color: $white;
		& .share {
			font-weight: 700;
		}
		& .copied__link {
			margin-top: 1rem;
			padding: 5px 15px;
		}
		& .btn {
			margin-top: 1rem;
			background-color: $dark-grey;
			border: none;
			padding: 5px 15px;
			&:active, &:hover {
				background-color: $grey;
			}
			&:focus {
				border: none;
				box-shadow: none;
			}
		}
	}
	& .modal-footer {
		color: $grey;
		font-weight: 700;
		border-top:	none;
		padding-top: 0;
		& .nav-link {
			padding: 0;
			text-align: left;
			color: $grey;
			&:hover, &:active {
				text-decoration: underline;
				color: $white;
			}
		}
		& .container {
			font-size: 15px;
		}
		& .footer__link {
			padding-bottom: 2.5rem;
			font-size: 15px;
		}
	}
}
